<div class="container">
  <div class="row">
    <form class="col-md-offset-4">
      <div class="input-group col-md-5">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control " id="login" placeholder="Login">
      </div>
      <div class="input-group col-md-5">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" id="senha" placeholder="Senha">
      </div>
      <a [routerLink]="['/adm/painel/produtos']" class="btn btn-default">Logar</a>
      <!--<button type="submit" class="btn btn-default">Logar</button>-->
    </form>
  </div>
</div>