
.color-cc {
    height: 40px;
    width: 40px;
}

.color-cc > div{
    border-top: 20px solid black;
    border-right: 20px solid blue;
    border-bottom: 20px solid green;
    border-left: 20px solid red;
}