<form>
  <div class="form-group">
    <label for="nomeProduto">Nome do produto</label>
    <input type="text" class="form-control" id="nomeProduto" placeholder="Nome do produto">
  </div>
  <div class="form-group">
    <label for="categoriaSelect">Categoria</label>
    <select class="form-control" id="categoriaSelect">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputFile">Imagem do produto</label>
    <input type="file" id="inputFile">
    <p class="help-block">Coloque a imagem principal do produto.</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>