<div class="content">
	<div class="container">
		<h1>Contato</h1>
		<br/>
		<div class="row">
			<div class="col-md-5">	
				<form (ngSubmit)="enviarEmail()" #contatoForm="ngForm">
					<div class="form-group">
						<label for="txtNome">Nome Completo</label>
						<input type="text" class="form-control" id="txtNome" [(ngModel)]="email.nome" name="nome" required>
					</div>
					<div class="form-group">
						<label for="txtEmail">Email</label>
						<input type="email" class="form-control" id="txtEmail" [(ngModel)]="email.email" name="email" required>
					</div>
					<div class="form-group">
						<label for="txtTel">Telefone / Celular</label>
						<input type="tel" class="form-control" id="txtTel" [(ngModel)]="email.telefone" name="telefone" required>
					</div>
					<div class="form-group">
						<label for="tipoMensagemSelect">Tipo de Mensagem</label>
						<select class="form-control" id="tipoMensagemSelect" [(ngModel)]="email.tipoMensagem" name="tipoMensagem" required>
							<option>Dúvida</option>
							<option>Sugestão</option>
							<option>Reclamação</option>
							<option>Elogio</option>
							<option>Outro</option>
						</select>
					</div>
					<div class="form-group">
						<label for="txtMensagem">Mensagem</label>
						<textarea class="form-control" rows="3" id="txtMensagem" placeholder="Digite aqui a sua mensagem" [(ngModel)]="email.mensagem" name="mensagem" required></textarea>
					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
				<br/>
			</div>
		</div>
	</div>
</div>