.content {
    margin-top: 0px;
}

h1 {
    border-bottom: 3px solid darkslateblue;
}

#telefone {
    font-size: 1.5em;
}

.alert {
    display: none;
    /* position: fixed;
    right: 10px;
    top: 10px; */
}

.alert div {
    display: none;
    text-align: center;
}