<nav class="navbar-static" id="header">
	
 	 <a class="navbar-logo" href="#"></a>

	<div class="row"> 
		<nav class="navbar-default nav-upper navbar-collapse collapse">
			<div class="container-fluid no-padding">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>


				<div class="unier">
					<div class="triangle"></div>
					<ul class="nav navbar-upper">
						<li><a href='' [routerLink]="['/']" class="text-center">INÍCIO</a></li>
						<li><a href='' [routerLink]="['/produtos']" class="text-center">PRODUTOS</a></li>
						<li><a href='' [routerLink]="['/sobre-nos']" class="text-center">SOBRE NÓS</a></li>
						<li><a href='' [routerLink]="['/contato']" class="text-center">CONTATO</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div> 
	<nav class="navbar navbar-default navbar-static-top navbar-lower">
		<div class="container-fluid">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="text-center"><img src="/assets/images/medalha-red.png" alt="Medalha"><br/><strong>30 anos</strong><br/><small>de tradição</small></a></li>
			<li><a href="#" class="text-center"><img src="/assets/images/caminhao-entrega-red.png" alt="Caminhão"><br/><strong>Entregamos</strong><br/><small>em guarulhos</small></a></li>
			<li><a href="#" class="text-center"><img src="/assets/images/credit-card-red.png" alt="Cartão"><br/><strong>Formas de pagamento</strong><br/><small>crédito, débito e boleto</small></a></li>
			</ul>
		</div>
		</div>
	</nav>
  	<!-- <div class="myNewNavbar">
		<div class="navContent">
			<a href="#" [routerLink]="['/produtos', 'pedra']">PEDRA</a>
			<a href="#" [routerLink]="['/produtos', 'blocos']">BLOCOS</a>
			<a href="#" [routerLink]="['/produtos', 'cimento']">CIMENTO</a>
			<a href="#" [routerLink]="['/produtos', 'telhas']">TELHAS</a>
			<a href="#" [routerLink]="['/produtos', 'areia']">AREIA</a>
			<a href="#" [routerLink]="['/produtos', 'tijolo']">TIJOLO</a>
			<a href="#" [routerLink]="['/produtos', 'cal']">CAL</a>
		</div>
	</div> -->
  	<nav class="navbar navbar-default navbar-center">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<div class="container">
				<a href="#" class="col-md-1" *ngFor="let pagina of paginasMenu" [routerLink]="['/produtos', pagina.link]">{{ pagina.nome }}</a>
				<!-- <a href="#" class="col-md-1" [routerLink]="['/produtos', 'blocos']">BLOCOS</a>
				<a href="#" class="col-md-1" [routerLink]="['/produtos', 'cimento']">CIMENTO</a>
				<a href="#" class="col-md-1" [routerLink]="['/produtos', 'telhas']">TELHAS</a>
				<a href="#" class="col-md-1" [routerLink]="['/produtos', 'areia']">AREIA</a>
				<a href="#" class="col-md-1" [routerLink]="['/produtos', 'tijolo']">TIJOLO</a>
				<a href="#" class="col-md-1" [routerLink]="['/produtos', 'cal']">CAL</a> -->
				<!-- <a href="#" class="col-md-1" [routerLink]="['/produtos', 'ferragens']">FERRAGENS</a>
				<a href="#" class="col-md-1" [routerLink]="['/produtos', 'ferramentas']">FERRAMENTAS</a> -->
				<div class="col-md-1 dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">+ Categorias <span class="caret"></span></a> 
					<ul class="dropdown-menu">
						<li *ngFor="let pMais of paginasMais"><a href="#" [routerLink]="['/produtos', pMais.link]">{{ pMais.nome }}</a></li>
						 <!-- <li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li> -->
						<!-- <li role="separator" class="divider"></li> -->
						<!-- <li><a href="#">Separated link</a></li>  -->
					</ul> 
				</div>
			</div>
			<!-- Div usada como teste com o dropdown
				<div class="teste" style="position: fixed; right: 0; bottom: 0; height: 200px; width: 200px; background-color: red; display: none;">

			</div> -->
		</div>
 	</nav>
</nav>







<!--


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">(11) 2561-6624 | contato@nilomateriaiscontrucao.com.br</div>
  </div>
  <div class="row text-right">
    <div class="col-md-4">IMAGEM</div>
    <div class="col-md-1"><a href="#">INICIO</a></div>
    <div class="col-md-1"><a href="#">PRODUTOS</a></div>
    <div class="col-md-1"><a href="#">SOBRE NÓS</a></div>
    <div class="col-md-1"><a href="#">CONTATO</a></div>
  </div>
</div>
<div class="row collapsable">
  <div class="col-md-5"></div>
  <div class="col-md-2"><p class="top">Formas de Pagamento</p><p>crédito, débito e boleto</p></div>
  <div class="col-md-2"><p class="top">Entregamos</p><p>em Guarulhos e Região</p></div>
  <div class="col-md-1"><p class="top">Simulador</p><p>de tintas</p></div>
  <div class="col-md-2"><p class="top">Orçamento</p><p>Solicite o seu</p></div>
</div>-->
<!--<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </button>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-center">
      <li><a [routerLink]="['/produtos', 'pedra']">PEDRA</a></li>
      <li><a [routerLink]="['/produtos', 'blocos']">BLOCOS</a></li>
      <li><a [routerLink]="['/produtos', 'cimento']">CIMENTO</a></li>
      <li><a [routerLink]="['/produtos', 'telhas']">TELHAS</a></li>
      <li><a [routerLink]="['/produtos', 'areia']">AREIA</a></li>
      <li><a [routerLink]="['/produtos', 'tijolo']">TIJOLO</a></li>
      <li><a [routerLink]="['/produtos', 'cal']">CAL</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">+ Categorias <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>-->
