<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">(11) 2561-6624 | contato@nilomateriaiscontrucao.com.br</div>
  </div>
  <div class="row text-right">
    <div class="col-md-4">IMAGEM</div>
    <div class="col-md-1"><a href="#">INICIO</a></div>
    <div class="col-md-1"><a href="#">PRODUTOS</a></div>
    <div class="col-md-1"><a href="#">SOBRE NÓS</a></div>
    <div class="col-md-1"><a href="#">CONTATO</a></div>
  </div>
</div>
<div class="row collapsable">
  <div class="col-md-5"></div>
  <div class="col-md-2"><p class="top">Formas de Pagamento</p><p>crédito, débito e boleto</p></div>
  <div class="col-md-2"><p class="top">Entregamos</p><p>em Guarulhos e Região</p></div>
  <div class="col-md-1"><p class="top">Simulador</p><p>de tintas</p></div>
  <div class="col-md-2"><p class="top">Orçamento</p><p>Solicite o seu</p></div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
        <li><a routerLink="produtos">PEDRA</a></li>
        <li><a href="#">BLOCOS</a></li>
        <li><a href="#">CIMENTO</a></li>
        <li><a href="#">TELHAS</a></li>
        <li><a href="#">AREIA</a></li>
        <li><a href="#">TIJOLO</a></li>
        <li><a href="#">CAL</a></li>
        <li><a href="#">CATEGORIAS</a></li>
      </ul>
    </div>
  </div>
</nav>