/*@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.row.collapsable {
    overflow-x: hidden;
}

.navbar-default {
    background-color: #2E3384;
}

.navbar-nav li:hover {
    background-color: #2B5584;
}

.navbar-nav a {
    color: white;
}

.dropdown-menu a {
    color: black;
}


.navbar {
    border-radius: 0;
    border-style: none;
    margin-bottom: 0;
}

p.top{
    margin-bottom:0;
    padding-bottom:0;
}*/

b, strong {
    color: black;
}

#header {
    border-top: 2px solid #23559A;
}

.unier {
    float: right;
    display: table;
}


.triangle {
    display: table-cell;
    width: 10px;
	height: 0;
	border-top: 40px solid #7B9CE7;
	border-left: 150px solid transparent;
}

.no-padding {
    padding: 0px;
}

.navbar-lower {
    background-color: white;
    opacity: 0.8;
}

.navbar-default.nav-upper {
    background-color: white;
    height: 40px;
    opacity: 0.8;
}
.navbar-default.nav-upper ul {
    background-color: #7B9CE7;
    /*background-image: url('/assets/images/ponto.png');
    background-repeat: repeat;*/
    padding-right: 40px;
    float: right;
    display: table;
}
.navbar-default.nav-upper .navbar-upper > li {
  display: table-cell;
  font-size: 14px;
}
.navbar-default.nav-upper .navbar-upper > li > a {
  color: black;
  font-weight: bolder; 
  margin-left: 40px;
}
@media (min-width: 768px) {
    .navbar.navbar-lower .navbar-nav {
        margin-right: 50px;
    }

    .navbar-default.nav-lower .navbar-nav > li > a {
        color: #777;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.navbar-logo {
  background-image: url('/assets/images/construcao.gif');
  width:170px;
  height: 120px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 1051;
  margin-left:60px;
}