/*@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.row.collapsable {
    overflow-x: hidden;
}

.navbar-default {
    background-color: #2E3384;
}

.navbar-nav li:hover {
    background-color: #2B5584;
}

.navbar-nav a {
    color: white;
}

.dropdown-menu a {
    color: black;
}


.navbar {
    border-radius: 0;
    border-style: none;
    margin-bottom: 0;
}

p.top{
    margin-bottom:0;
    padding-bottom:0;
}*/

#header {
    border-top: 2px solid #23559A;
}

.unier {
    float: right;
    display: table;
}


.triangle {
    display: table-cell;
    width: 10px;
	height: 0;
	border-top: 50px solid #5385c6;
	border-left: 50px solid transparent;
}

.no-padding {
    padding: 0px;
}

.navbar-lower {
    background-color: white;
    opacity: 0.8;
}

.navbar-default.nav-upper {
    height: 50px;
}
.navbar-default.nav-upper ul {
    background-color: #5385c6;
    float: right;
    display: table;
}
.navbar-default.nav-upper .navbar-upper > li {
  display: table-cell;
  font-size: 14px;
}
.navbar-default.nav-upper .navbar-upper > li > a {
  color: #777;
}
@media (min-width: 768px) {
  .navbar.navbar-lower .navbar-nav {
    margin-left: 100px;
  }
}
.navbar-logo {
  background-image: url('construcao.gif');
  width:200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 1051;
}