/*@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.row.collapsable {
    overflow-x: hidden;
}

.navbar-default {
    background-color: #2E3384;
}

.navbar-nav li:hover {
    background-color: #2B5584;
}

.navbar-nav a {
    color: white;
}

.dropdown-menu a {
    color: black;
}


.navbar {
    border-radius: 0;
    border-style: none;
    margin-bottom: 0;
}

p.top{
    margin-bottom:0;
    padding-bottom:0;
}*/