.no-display {
    display: none;
}

.fotoThumb {
    border: 1px dotted black;
    margin-right: 10px;
    height: 80px;
    padding: 0;
}

.fotoThumb:hover {
    cursor: pointer;
}

.imgThumb {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin-top: auto;
}

.deleteImage {
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
}

.fotoBanner {
    height: 300px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}