<div class="content">
	<div class="container">
		<!-- <h1>{{ produto.nome }}</h1>
		<p>{{ produto.categoria }}</p>
		<p>{{ produto.marca }}</p> -->
		<h1>Pedra de brita</h1>
		<p>{{ produto.categoria }}</p>
		<p>{{ produto.marca }}</p>
		<div class="row">
			<div class="col-md-7">
				 <img class="img-responsive" src="http://placehold.it/400x250/aaa/000" width="100%" alt=""/> 
			</div>
			<div class="col-md-5 info">
				<p><b>Marca:</b> marca</p>
				<p><b>Descrição:</b> descrição</p>
				<p><b>Preço:</b> preço</p>				
			</div>
		</div>
	</div>
</div>