<div class="content">
	<div class="container" *ngIf="!mensagem">
		<!-- <h1>{{ produto.nome }}</h1>
		<p>{{ produto.categoria }}</p>
		<p>{{ produto.marca }}</p> -->
		<h1>{{ produto.nome }}</h1>
		<div class="row">
			<div class="col-md-5">
				 <img id="imagem" class="img-responsive" src="" width="100%" alt=""/> 
			</div>
			<div class="col-md-7 info">
				<p><b>Marca:</b> {{ produto.marca }}</p>
				<p><b>Descrição:</b> {{ produto.descricao }}</p>
				<p><b>Preço:</b> R$ {{ produto.preco }}</p>
				<p><b>Informações do produto:</b></p> {{ produto.informacao }}
			</div>
		</div>		
	</div>
	<h1 *ngIf="mensagem">Produto não encontrado</h1>
</div>