<div class="content">
    <div class="container">
        <h1>Nossa história</h1>
        <p>Em 1988 nascia Nilo Materiais para Construção. Iniciava um trabaho persistente e honesto baseado na 
            fé e na esperança. Deparou-se com muitas dificuldades mas todas foram superadas.
        </p>
        <p>
            Hoje com 30 anos de existência e sede própria instalada no mesmo local e com o mesmo CNPJ ativo, 
            conta a equipe de colaboradores ajudando a manter uma empresa sólida e comprometida em aprimorar 
            cada vez mais o bom atendimento aos clientes e fornecedores.
        </p>
        <p>
            Replantando todos os dias a semente de um sonho concretizado.
        </p>
        <p>Agradeço a Deus todos os dias por ser o centro desta empresa.</p>
        <img src="/assets/images/historia.jpg" class="img-responsive" width="100%" alt="Fachada">
        <br />
    </div>
</div>
