<div class="content">
    <div class="container">
        <h1>Nossa história</h1>
        <p>EM 1988 NASCIA NILO MATERIAIS PARA CONSTRUÇÃO, INICIAVA UM TRABALHO PERSITENTE E
            HONESTO BASEADO NA FÉ E NA ESPERANÇA,DEPAROU-SE COM MUITAS DIFICULDADES MAS
            TODAS FORAM SUPERADAS, HOJE COM 30 ANOS DE EXISTENCIA E SEDE PRÓPRIA INSTALADA
            NO MESMO LOCAL E COM O MESMO CNPJ ATIVO , CONTA COM A EQUIPE DE
            COLABORADORES AJUDANDO A MANTER UMA EMPRESA SÓLIDA COMPROMETIDA EM
            APRIMORAR CADA VEZ MAS BOM ATENDIMENTO AOS CLIENTES E FORNECEDORES .</p>
        <p>REPLANTANDO TODOS OS DIAS A SEMENTE DE UM SONHO CONCRETIZADO.</p>
        <p>AGRADEÇO A DEUS TODOS DIAS POR SER O CENTRO DESTA EMPRESA .</p>
    </div>
</div>
