<section class="footer">
    <div class="container">
    	<div class="row">
        	<div class="col-lg-4 col-md-4 col-sm-4">
            <div class="footer_dv">
              <h4>Contato</h4>
              <ul>
                <li>contato@nilomateriaisconstrucao.com.br</li>
                <li>(11) 2572-3612</li>
              </ul>
            </div>
        	</div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="footer_dv">
              <h4>Redes Sociais</h4>
              <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>          
              </ul>
            </div>
          </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 conhecer">
        <p class="text-center">Venha conhecer a nossa loja</p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.7407267955386!2d-46.40523198544366!3d-23.505846484710503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce63807f3e74c9%3A0x8d44cacbbdb8a12!2sR.+Piacatuba%2C+106+-+Parque+Industrial%2C+S%C3%A3o+Paulo+-+SP%2C+08110-030!5e0!3m2!1spt-BR!2sbr!4v1498428175748" height="400" width="100%" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
</section>